body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    /*min-width: 900px;*/
}

header{
    flex: 0 25px;
    display: flex;

    background: grey;
    border-radius: 5px;
    padding: 0.5em;
    
    border-bottom: thick navy solid;
}
header a{
    padding: 0.25em;
}
footer{
    flex: 0 25px;
    display: flex;
    flex-direction: column;

    background: grey;
    border-radius: 5px;
    padding: 0.5em;
    
    border-top: thick navy solid;
}
footer a{
    float: right;
}



main{
    flex: 1;
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-container {
    position: relative;
    text-align: center;
}
.background-image {
    width: 80%;
    height: auto;
}
.text-overlay {/**/
    position: absolute;
    top: 20%;
    /*left: 50%;*/
    transform: translate(50%);

    
    font-size: 5em;
    color: navy;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.8);
}

.form-container {
    align-items: center;
    justify-content: center;
    margin-top: 2em;
}
h2 {
    text-align: center;
    color: navy;
    font-family: serif;
}
form div {
    margin-bottom: 0.5em;
    color: navy;
}
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 300px;
}
button {
  background-color: navy;
  color: white;
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: blue;
}
