main{
    flex-direction: column;
    align-items: flex-start;
}




.status-container{
    position: fixed;
    top: 50px;

    background-color: #f0f0f0;
    padding: 5px;
    width: 30%;
    margin: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 15px;
}

h2{
    margin-top: 50px;
    width: 100%;
    text-align: center;
    font-size: 2em;
}

.scores-container{
    width: 80%;
    margin: 0 auto;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: navy;
    color: white;
}
tr:hover {
    background-color: #f2f2f2;
}


.transition-container{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}
.transition-container button {
    margin: 0 20px;
    font-size: 20px;
}