/* for some reason this needs to be in app.css to work
main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
  }
  */


  .image-container {
    flex: 2;
    display: flex;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: auto;
    position: relative;
  }
    .background-image {
        width: 100%;
        height: auto;
    }
    .text-overlay {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        font-size: 4em;
        font-weight: 500;
        color: navy;
        text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
    }

  .form-container {
    flex: 1;
    margin-right: 2em;
    background-color:whitesmoke;
    padding: 2em;
  }
    h2 {
        text-align: start;
        color: navy;
        padding-top: 10px;
        padding-bottom: 30px;
    }

  @media (max-width: 768px) {
    main{
        flex-direction: column;
    }
    
    .text-overlay {
        font-size: 3em;
    }

    .form-container{
        margin-right: 0;
        margin-bottom: 1em;
    }
  }
  