.gameplayPG {
    width: 100%;
    height: 100%;
    
    display: flex;
    background-color:whitesmoke;
}

.notification-container{
    background-color:white;
    border-radius: 30px;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.game-container{
}

