/* for some reason, this needs to be a div, otherwise it messes with the login pg
main{
    flex-direction: column;
    align-items: flex-start;
    background-color:whitesmoke;
}
*/
/*
.gamePG{
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color:whitesmoke;
}
*/


h2{
    width: 100%;
    text-align: center;
    font-size: 2em;
}


.path-container{
    margin: 0 auto;
    background-color:white;
    padding: 1em;
    width: 90%;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}
.endpoints-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 0 5px;
}
.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.palette-container {
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 30px auto;

    max-width: 300px;
    width: 100%;
}


.milestone-button {
    cursor: not-allowed;
    pointer-events: none;

    width: 80px;
    height: 60px;
    border-radius: 20px;
    border: 1px solid grey;

    background-color: #a0a0a0; /* Example background color */
}
.path-button {
    width: 80px;
    height: 60px;
    border-radius: 20px;
    border: 3px solid black;

    background-color: #e0e0e0; /* Example background color */
}
.color-button {
    width: 60px;
    height: 60px;
    border-radius: 90% 50% 10% 50%; /* teardrop shape */
    transform: rotate(225deg);
    
    border: 2px solid black;
    background-color: #e0e0e0; /* Example background color */
}

.path-button:hover, .color-button:hover {
    border: 2px solid red;
    background-color: inherit;
    transition: border 0.3s ease;
}