main{
    flex-direction: column;
    align-items: flex-start;
    background-color:whitesmoke;
}


h2{
    width: 100%;
    text-align: center;
    font-size: 2em;
}


.scores-container{
    width: 80%;
    margin: 0 auto;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: navy;
    color: white;
}
tr:hover {
    background-color: #e8e6e6;
}