.body {
    display: flex;
    flex-direction: column;
    min-width: 375px;

    font-family: Tahoma;
  }

  
  header {
    flex: 0 80px;

    background: grey;
    border-radius: 5px;
    border-bottom: thick navy solid;
  }
  menu {
    flex: 1;
    display: flex;
    /*  overwrite Bootstrap so the menu does not wrap */
    flex-direction: row !important;
    list-style: none;
  }
  .navbar-brand {
    padding-left: 0.3em;
    border-bottom: solid whitesmoke thin;
  }
  menu .nav-item {
    padding: 0 0.3em;
  }


  main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  
  footer {
    flex: 0 30px;

    background: grey;
    border-radius: 5px;
    border-top: thick navy solid;
  }
  footer a {
    float: right;
  }



  
  .status-container{
    top: 50px;

    background-color:aliceblue;
    padding: 5px;
    width: 30%;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 15px;
  }